{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<h1>Hello</h1>
	<ul>
		<li><a href="{{ path('app_sign_in') }}">Sign in</a></li>
		<li><a href="{{ path('app_register') }}">Register</a></li>
	</ul>

{% endblock %}
